.myBG {
    height: 100vh;
    background: url("../assets/img/bg/bg1.jpg");
    background-size: cover;
}

.intro {
    height: 300px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow:2px 2px black ;
    letter-spacing: 4px;
}

.trending {
    height: auto;
    background: url("../assets/img/bg/bg3.jpg");
    background-size: cover;
}

.action {
    height: auto;
    background: url("../assets/img/bg/bg2.jpg");
    background-size: cover;
}

.movieWrapper {

}

.movieImages {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.images {
    height: 500px;
}

/* Footer */
.footer {
    background-color: #232323;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-logo h2 {
    font-size: 30px;
    margin: 0;
    color: #ff6347;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links ul li {
    display: inline-block;
    margin: 0 15px;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  
  .footer-links ul li a:hover {
    color: #ff6347;
  }
  
  .footer-social a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
  .footer-social a:hover {
    color: #ff6347;
  }
  
  .footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    color: #bbb;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-logo {
      margin-bottom: 20px;
    }
  
    .footer-links ul {
      margin-bottom: 20px;
    }
  
    .footer-social {
      margin-top: 10px;
    }
  }
  